@model JobPortal.Models.ApplyJobCls
@{
    ViewBag.Title = "ApplyJob_Load";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Apply Job for @Session["JobName"] at @Session["CompanyName"]</h2>
<hr />
@using (Html.BeginForm("ApplyJob_Click", "ApplyJob", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div>
        <label>Date:</label>
    </div>
    <div>
        @Html.TextBoxFor(m => m.ApplyDate, new { @class = "form-control", @type = "date", @placeholder = "Date" })
        @Html.ValidationMessageFor(m => m.ApplyDate, "", new { @class = "text-danger" })
    </div>
    <br />
    <div>
        <label>Upload Resume:</label>
    </div>
    <div>
        @Html.TextBox("file", "", new { @class = "form-control", Type = "file", @placeholder = "Resume" })
    </div>
    <br />
    <div>
        <input type="submit" value="Apply" class="btn btn-primary" />
        @Html.DisplayFor(m => m.msg, "", new { @class = "text-info" })
    </div>
    <br />
    <div>
        @Html.ActionLink("Back", "DisplayAllJob_Load", "DisplayAllJobs")
    </div>
}
