<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Job Portal</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: rgb(17 17 18); color: white;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Job Portal", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @if (Session["uid"] != null)
                {
                <ul class="nav navbar-nav">
                    @if (Session["type"].ToString() == "User")
                    {
                        <li>@Html.ActionLink("Home", "UserHome", "Profile")</li>

                        <li>@Html.ActionLink("My Profile", "ProfileView", "Profile")</li>
                        <li>@Html.ActionLink("View Jobs", "DisplayAllJob_Load", "DisplayAllJobs")</li>
                    }
                    else if (Session["type"].ToString() == "Company")
                    {
                        <li>@Html.ActionLink("Home", "CompanyHome", "Profile")</li>

                        <li>@Html.ActionLink("My Profile", "CompanyProfileView", "Profile")</li>
                    }
                    <li>@Html.ActionLink("Log Out", "Login_PageLoad", "UserLogin")</li>
                </ul>
                }
                else if (Session["uid"] == null)
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Login_PageLoad", "UserLogin")</li>
                        <li>@Html.ActionLink("Sign Up", "User_Load", "UserReg")</li>
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Job Portal</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
